<%- layout("/layouts/boilerplate.ejs")  %>

<div class="d-flex justify-content-between flex-wrap">
  <% for(let i in students) { let student = students[i]%>
  <div class="card m-3 mb-5" style="width: 20rem">
    <img src="<%= student.file.image.url %>" class="card-img border-bottom" alt="<%= student.file.image.filename %>" />

    <div class="card-body d-flex justify-content-between flex-column">
      <div class="card-content mb-3">
        <h5 class="card-title">
          <%= student.name %>
          <hr class="hr" />
        </h5>
        <div class="card-text mt-4">
          <div class="row d-flex flex-column">
            <div class="col">
              <div class="label">CGPA:</div>
              <%= student.university.cgpa %>
            </div>
            <div class="col">
              <div class="label">12th Percentage:</div>
              <%= student.academics.twelfth.percentage %>%
            </div>
            <div class="col">
              <div class="label">10th Percentage:</div>
              <%= student.academics.tenth.percentage %>%
            </div>
          </div>
        </div>
      </div>


      <a href="/student/profile/<%= student._id  %>" class="mt-3 btn btn-primary">Profile</a>

    </div>
  </div>
  <% } %>
</div>