<% layout("/layouts/boilerplate.ejs") %>

<div class="company-form p-5">

  <% for(let i in companies) { let company = companies[i]%>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button  collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= company._id%>" aria-expanded="false" aria-controls="<%= company._id%>">
          <img src="<%= company.file.image.url %>" alt="" class="comp-logo">
          &nbsp;
          <h3> <%= company.name %> </h3> &nbsp;
          <span>(2)</span>
        </button>
      </h2>
      <div id="<%= company._id%>" class="accordion-collapse collapse " data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h5>Students Applied</h5>
          <div class="student-details ">
            <div class="row d-flex justify-content-start">
              <% for(let student in company.students) { %>
              <div class="col mr-4">
                <a href="#"><%= student.name %></a>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </div>
  <% } %>
</div>