<% layout("/layouts/boilerplate.ejs") %>

<div class="company-form p-5">
  <% for(let i in companies) { let company = companies[i]%>

  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button w-100 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= company._id%>" aria-expanded="false" aria-controls="<%= company._id%>">
          <div class="d-flex w-100 justify-content-between align-items-center">
            <div class="d-flex">
              <img src="<%= company.file.image.url %>" alt="" class="comp-logo" />
              &nbsp;
              <h3><%= company.name %></h3>
              &nbsp;
            </div>
            <span class="mx-4">Total Students Applied:- <%= company.students.length %></span>
          </div>
        </button>
      </h2>
      <div id="<%= company._id%>" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="d-flex justify-content-between">
            <h5>Students Applied</h5>
            <a href="/company/about/<%= company._id %>" class="text-dark">About <%= company.name %></a>
          </div>
          <div class="student-details">
            <div class="row d-flex flex-wrap justify-content-start">
              <% for(let j in company.students) { let
              student=company.students[j] %>
              <div class="col mr-4">
                <li>
                  <a class="text-dark" href="/student/profile/<%= student.username %>"><%= student.name %> <b>(<%= student.username %>)</b></a>
                </li>
              </div>

              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
  <% } %>
</div>