<% layout("/layouts/boilerplate.ejs") %>

<div class="d-flex justify-content-between flex-wrap">
  <% for(let i in companies) { let company = companies[i]%>
  <div class="card m-3 mb-5" style="width: 20rem">
    <img src="<%= company.file.image.url %>" class="card-img border-bottom" alt="<%= company.file.image.filename %>" />

    <div class="card-body d-flex justify-content-between flex-column">
      <div class="card-content mb-3">
        <h5 class="card-title">
          <%= company.name %>
          <hr class="hr" />
        </h5>
        <div class="card-text mt-4">
          <div class="row d-flex flex-column">
            <div class="col">
              <div class="label">Role:</div>
              <%= company.jd.position %>
            </div>
            <div class="col">
              <div class="label">Location:</div>
              <%= company.jd.location.city %>, <%= company.jd.location.state %>
            </div>
            <div class="col">
              <div class="label">Package:</div>
              <%= company.jd.package %>
            </div>
          </div>
        </div>
      </div>

      <div class="comp-buttons d-flex justify-content-around mb-3">
        <% if(currUser && currUser.role === 0 ) { %>
        <a href="/company/about/<%= company._id  %>" class="btn btn-primary">About</a>
        <% } else {%>
        <a href="/company/edit/<%= company._id  %>" class="btn btn-warning">Edit</a>
        <form action="/company/end/<% company._id %>">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#<%=company._id%>">
            End Drive
          </button>
        </form>


        <!-- Modal -->
        <div class="modal fade" id="<%=company._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">End the Drive?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to end the drive for <%= company.name %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger">End Drive</button>
              </div>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </div>
  <% } %>
</div>