<% layout("/layouts/boilerplate.ejs") %>

<div></div>

<div class="d-flex justify-content-evenly flex-wrap">
  <% for(let i in companies) { let company = companies[i]%>
  <div class="card m-2" style="width: 20rem">
    <img
      src="<%= company.file.image.url %>"
      class="card-img border-bottom"
      alt="<%= company.file.image.filename %>"
    />

    <div class="card-body d-flex justify-content-between flex-column">
      <div class="card-content mb-4">
        <h5 class="card-title">
          <%= company.name %>
          <hr class="hr" />
        </h5>
        <div class="card-text mt-4">
          <div class="row d-flex flex-column">
            <div class="col">
              <div class="label">Role:</div>
              <%= company.jd.position %>
            </div>
            <div class="col">
              <div class="label">Location:</div>
              <%= company.jd.location.city %>, <%= company.jd.location.state %>
            </div>
            <div class="col">
              <div class="label">Package:</div>
              <%= company.jd.package %>
            </div>
          </div>
        </div>
      </div>

      <a href="#" class="btn btn-primary">Apply Now</a>
    </div>
  </div>
  <% } %>
</div>
